.order{
    background-color: orange;
    padding: 10px;
    margin: 10px;
}
.order>div{
  height: 100%;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 3px;
  background-color: #ffffff;
  height: 0px;
}

::-webkit-scrollbar-thumb{
  background-color: #00000050;
}
.order-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem;
    color: white;
    position: relative;
}

.order-header>div{
    text-align: left;
}

.order-header>div:nth-child(2){
    position: absolute;
    width: 100%;
    text-align: center;
}

.order-header>div:nth-child(3){
  padding: 5px 10px;
  background-color: #00000050;
  border-radius: 10px;
}
.order-body{
    /* padding: 20px; */
    padding: 10px 0px;
    background-color: white;
}

@media screen and (min-width: 769px) {
  .order{
    width: calc(33vw - 40px);
    display: inline-block;
    height: 250px;
  }
}
